/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --decor-title: #db00ff;
  --decor-title-color: #ff0070;
  --text-color: #f1b2ce;
  --light-image: url("../images/cover-image-dark.png");
  --text-button: #ff0070;
  --title-color: #000028;
  --title-color-dark: #ff0070;
  --decor-border: #ff0070;
  --light-color: #000028;
  --color-line: rgba(255, 0, 112, 0.4);
}

.theme_dark .rec {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    --decor-title: #db00ff;
    --decor-title-color: #ff0070;
    --text-color: #f1b2ce;
    --light-image: url("../images/cover-image-dark.png");
    --text-button: #ff0070;
    --title-color: #000028;
    --title-color-dark: #ff0070;
    --decor-border: #ff0070;
    --light-color: #000028;
    --color-line: rgba(255, 0, 112, 0.4);
  }

  .rec {
    display: flex;
  }
}

@media (min-width: 768px) {
  .rec {
    top: 20px;
    right: 28px;
  }
}
