/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --decor-title: #ffc2e6;
  --decor-title-color: #ff8dcb;
  --text-color: #353430;
  --light-image: url("../images/cover-image-light.png");
  --title-color: #353430;
  --title-color-1: #353430;
  --decor-border: #353430;
  --light-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    --decor-title: #ffc2e6;
    --decor-title-color: #ff8dcb;
    --text-color: #353430;
    --light-image: url("../images/cover-image-light.png");
    --title-color: #353430;
    --title-color-1: #353430;
    --decor-border: #353430;
    --light-color: #fff1f7;
  }
}

.theme_light .rec {
  display: none;
}


