/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --decor-title: #ffc2e6;
  --decor-title-color: #ff8dcb;
  --text-color: #353430;
  --light-image: url("../images/cover-image-light.png");
  --title-color: #353430;
  --title-color-dark: #353430;
  --decor-border: #353430;
  --light-color: #fff1f7;
  --text-button: #353430;
  --color-line: rgba(50, 49, 45, 0.4);
}

.theme_light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  .rec {
    display: none;
  }
  
}
