.page {
  font-family: var(--font-family, monospace);
  background-image: var(--light-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--light-color);
  я
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gallery__item {
  display: grid;
  gap: 5px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  position: relative;
  margin-block-end: 31px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  top: 0;
  right: 0;
  position: absolute;
  width: 25.04px;
  height: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  border-top: 1px solid var(--decor-border);
  border-right: 1px solid var(--decor-border);
}

.rec {
  display: inline-flex;
  position: absolute;
  text-transform: uppercase;
  top: 10px;
  right: 18px;
  font-family: var(--font-family, monospace);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  gap: 7px;
  color: var(--text-button);
}

.rec::after {
  display: inline-block;
  content: "";
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--decor-title-color);
  block-size: 9px;
  inline-size: 9px;
  margin-block-start: -1px;
  margin-right: -1px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  left: 7px;
  width: 25.04px;
  height: 25px;
  inset-block-end: 13px;
  border-bottom: 1px solid var(--decor-border);
  border-left: 1px solid var(--decor-border);
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  margin: 7.5px 0 58px;
}

.header__theme-menu-item {
  list-style-type: none;
}

.header__theme-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;
  background: transparent;
  border: none;
  font-size: var(--font-size-big);
  line-height: 16px;
  font-weight: var(--font-light);
  color: var(--text-button);
  inline-size: 70px;
  block-size: 26px;
  margin-bottom: 10px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--text-button);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-line);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--text-button);
}

.header__main-title {
  font-weight: var(--font-bold);
  line-height: 95.7px;
  font-size: var(--font-clp-mb);
  color: var(--decor-title);
  text-shadow: 4px 4px 0 var(--decor-title-color);
  margin: 0 0 54px 0;
  text-align: left;
}

.decor__word:hover {
  font-weight: var(--font-light);
  font-size: var(--font-size-big);
  line-height: 23.4px;
  text-decoration: underline;
  text-shadow: 1px 1px 0 var(--decor-title-color);
}

.decor__word:focus {
  font-weight: var(--font-light);
  font-size: var(--font-size-big);
  line-height: 23.4px;
  outline: 1px solid var(--text-button);
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--decor-title-color);
}

.header__title {
  font-weight: var(--font-bold);
  font-size: var(--font-size-big);
  line-height: 23.4px;
  color: var(--title-color);
  background-color: var(--decor-title-color);
  text-align: left;
}

.content {
  padding: 10px;
  margin-bottom: 34px;
}

.heading {
  font-size: var(--font-size-big);
  color: var(--title-color-dark);
}

.subtitle {
  font-weight: var(--font-bold);
  font-size: var(--font-size-big);
  line-height: 23.4px;
  color: var(--title-color-dark);
}

.subtitle-highlight {
  font-family: var(--font-family, monospace);
  font-weight: var(--font-bold);
  font-size: var(--font-size-big);
  line-height: 23.4px;
  color: var(--title-color);
  background-color: var(--decor-title-color);
  margin-block-start: 20px;
}

.subtitle-bold {
  font-weight: var(--font-bold);
}

.subtitle-highlight-responsive {
  font-weight: var(--font-light);
}

.text_content {
  font-weight: var(--font-light);
  font-size: var(--font-size-big);
  line-height: 23.4px;
  margin-top: 9px;
  color: var(--text-color);
}

.section-why {
  margin-top: 53px;
}

.section-tips {
  margin-top: 53px;
  margin-block-end: 55px;
}

ul {
  list-style-type: none;
}

.article {
  color: var(--text-color);
  margin-block-start: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  margin-block-start: 7px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  inline-size: 100%;
  min-inline-size: 375px
}

.footer__heading {
  font-size: var(--font-clp-mb);
  color: var(--decor-title);
  text-shadow: 4px 4px 0 var(--decor-title-color);
  font-family: var(--font-family, monospace);
  font-weight: var(--font-bold);
  line-height: 95.7px;
}

.glow-effect {
  text-shadow: 2px 2px 0px var(--decor-title-color);
  text-decoration: none;
}

.glow-effect:hover {
  border-bottom: 0.2px solid currentColor;
  cursor: pointer;
}

.glow-effect:focus {
  outline: 0.2px solid currentColor;
}

.glow-effect:focus-visible {
  outline: 0.5px solid currentColor;
}

@media (min-width: 768px) {
  .header {
    align-items: flex-start;
    min-block-size: 1024px;
    margin-block-end: 41px;
    padding: 20px;
    inline-size: 768px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 16px;
    margin-inline-start: 13px;
  }

  .header__theme-menu {
    margin-bottom: 168px;
  }

  .header__main-title {
    inline-size: 576px;
    white-space: nowrap;
    margin-bottom: 164px;
    position: relative;
    left: -21px;
  }

  .header__title {
    inline-size: 364px;
    align-self: end;
  }

  .content {
    padding: 20px;
  }

  .block {
    display: grid;
    grid-template-columns: 236px 472px;
    gap: 20px;
  }

  .list {
    display: grid;
    gap: 19px;
  }

  .section-why {
    margin-top: 86px;
    display: flex;
    flex-direction: column;
  }

  .heading {
    inline-size: 236px;
  }

  .subtitle {
    margin: 0;
  }

  .section-tips {
    margin-top: 84px;
  }

  .section-tips__list {
    margin-top: 21px;
  }

  .section-visual {
    display: block;
    margin-top: 81px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 17px 0px 0px 0px;
  }

  .gallery__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 780px;
  }

  .img {
    width: 100%;
    overflow: hidden;
  }

  .gallery__image {
    height: 100%;
    width: 100%;
  }

  .img__sunset {
    grid-column: 1 / 3;
  }

  .img__ice {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .img__tape {
    grid-column: 1/ 2;
    grid-row: 2 / 5;
  }

  .img__book {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .img__street {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
  }

  .subtitle-highlight-special {
    inline-size: 728px;
    margin: 0;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: none;
    inline-size: 768px;
    min-block-size: 1024px;
  }

  .footer__heading {
    margin-top: 14px;
  }
}

@media (min-width: 1024px) {
  
  .header__theme-menu-list {
    display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        inline-size: 1024px;
  }
  .section-tips {
    margin-top: 80px;
  }
  

  .content {
    padding: 20px;
  }

  .header__theme-menu {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    height: 100%;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    margin-inline-start: 10px;
  }

  .header__title {
    inline-size: 491px;
    margin-block-end: 115px;
  }

  .header {
    min-block-size: 768px;
    inline-size: 1024px;
    block-size: 100vh;
  }

  .header__main-title {
    font-size: var(--font-clp-pc);
    margin: 0 0 129px 1px;
    inline-size: 759px;
  }

  .block {
    grid-template-columns: 314.96px 648.92px;
  }

  .section-why__list {
    display: grid;
    grid-template-columns: 315px 315px 315px;
    gap: 20px;
  }

  .heading {
    inline-size: 315px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .gallery__item {
    inline-size: 1024px;
    height: 1048px;
    padding-right: 40px;
  }

  .img {
    width: 100%;
    overflow: hidden;
  }

  .footer {
    inline-size: 1024px;
    min-block-size: 768px;
  }

  .subtitle-highlight-why {
    inline-size: 649px;
  }

  .subtitle-highlight {
    inline-size: 316px;
  }

  .section-tips__heading {
    inline-size: 649px;
  }

  .subtitle-highlight-responsive {
    inline-size: 649px;
  }

  .subtitle-highlight-special {
    inline-size: 984px;
  }

  .footer__heading {
    font-size: var(--font-clp-pc);
  }
}
